<div class="jumbotron animated fadeIn fast">
  <h1 class="display-4">Comic App!</h1>

  <p class="lead animated fadeIn">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>

  <hr class="my-4 animated fadeIn">
  <p class="animated fadeIn">It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg animated fadeIn" href="#" role="button">Learn more</a>

</div>
