<div class="card animated fadeIn" >

  <img class="card-img-top img-fluid mt-2 mb-2" src ="assets/img/{{ heroe.img }}" [alt]="heroe.nombre">

  <div class="card-block mt-2">
    <h4 class="card-title "> {{ heroe.nombre }}</h4>
    <p class="card-text"> {{ heroe.bio }} </p>
    <p class="card-text text-left"> <small class="text-muted"> Aparición : {{heroe.aparicion }}
        <strong>{{heroe.casa}}</strong> </small>
    </p>

    <a class="btn btn-outline-primary btn-block" (click)="verHeroe()"> Ver mas </a>
  </div>
</div>
